/** @format */

.nav {
  width: center;
  height: 150vh;
  background-image: linear-gradient(to right, white, #eee);
  margin-top: 0;
  padding-top: 20px;
}
.nav > h2 {
  /* padding-top: 30px;
  padding-left: 400px;
  padding-bottom: 0px;
  padding-right: 200px; */
  color: gray;
}
.nav > h2 > p {
  font-size: small;
}
.nav__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 100px;
  padding: 60px;
}

.nav__posters > p {
  font-size: small;
  position: absolute; /* or absolute */
  top: 90%;
  left: 40%;
}

.nav__posters::-webkit-scrollbar {
  display: none;
}

.nav__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.nav__poster:hover {
  transform: scale(1.08);
}

.nav__posterLarge {
  max-height: 250px;
}

.nav__posterLarge:hover {
  transform: scale(1.09);
}
